@using Finanzas.Models
@model Finanzas.Models.Categories;
@{
    ViewBag.Title = "Gastos";
    var Months = ViewBag.Months;
    List<Categories> Categories = ViewBag.Categories;
    List<PaymentMethods> PaymentMethods = ViewBag.PaymentMethods;
    var CurrentMonth = ViewBag.CurrentMonth;
    List<Bills> Bills = ViewBag.Bills;
    List<Icons> Icons = ViewBag.Icons;
    Balance Balance = ViewBag.Balance;
}
<div class="">
<div class="bg-white">
<div>
<!-- MOBILE MENÚ -->
<div class="z-40 hidden" role="dialog" aria-modal="true">

<div class="fixed inset-0 bg-black bg-opacity-25"></div>

<div class="fixed inset-0 z-40 flex">

<div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
<div class="flex items-center justify-between px-4">
    <h2 class="text-lg font-medium text-gray-900">Filters</h2>
    <button type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
        <span class="sr-only">Close menu</span>
        <!-- Heroicon name: outline/x-mark -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
    </button>
</div>

<!-- Filters -->
<form class="mt-4 border-t border-gray-200">
<h3 class="sr-only">Categories</h3>
<ul role="list" class="px-2 py-3 font-medium text-gray-900">
    <li>
        <a href="#" class="block px-2 py-3">Totes</a>
    </li>

    <li>
        <a href="#" class="block px-2 py-3">Backpacks</a>
    </li>

    <li>
        <a href="#" class="block px-2 py-3">Travel Bags</a>
    </li>

    <li>
        <a href="#" class="block px-2 py-3">Hip Bags</a>
    </li>

    <li>
        <a href="#" class="block px-2 py-3">Laptop Sleeves</a>
    </li>
</ul>

<div class="border-t border-gray-200 px-4 py-6">
    <h3 class="-mx-2 -my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-0" aria-expanded="false">
            <span class="font-medium text-gray-900">Color</span>
            <span class="ml-6 flex items-center">
                <!--
                Expand icon, show/hide based on section open state.

                Heroicon name: mini/plus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                </svg>
                <!--
                Collapse icon, show/hide based on section open state.

                Heroicon name: mini/minus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd"/>
                </svg>
            </span>
        </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div class="pt-6" id="filter-section-mobile-0">
        <div class="space-y-6">
            <div class="flex items-center">
                <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">White</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-1" class="ml-3 min-w-0 flex-1 text-gray-500">Beige</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-color-2" name="color[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-2" class="ml-3 min-w-0 flex-1 text-gray-500">Blue</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-color-3" name="color[]" value="brown" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-3" class="ml-3 min-w-0 flex-1 text-gray-500">Brown</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-color-4" name="color[]" value="green" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-4" class="ml-3 min-w-0 flex-1 text-gray-500">Green</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-color-5" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-color-5" class="ml-3 min-w-0 flex-1 text-gray-500">Purple</label>
            </div>
        </div>
    </div>
</div>

<div class="border-t border-gray-200 px-4 py-6">
    <h3 class="-mx-2 -my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-1" aria-expanded="false">
            <span class="font-medium text-gray-900">Category</span>
            <span class="ml-6 flex items-center">
                <!--
                Expand icon, show/hide based on section open state.

                Heroicon name: mini/plus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                </svg>
                <!--
                Collapse icon, show/hide based on section open state.

                Heroicon name: mini/minus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd"/>
                </svg>
            </span>
        </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div class="pt-6" id="filter-section-mobile-1">
        <div class="space-y-6">
            <div class="flex items-center">
                <input id="filter-mobile-category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-0" class="ml-3 min-w-0 flex-1 text-gray-500">New Arrivals</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-category-1" name="category[]" value="sale" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-1" class="ml-3 min-w-0 flex-1 text-gray-500">Sale</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-category-2" name="category[]" value="travel" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-2" class="ml-3 min-w-0 flex-1 text-gray-500">Travel</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-category-3" name="category[]" value="organization" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-3" class="ml-3 min-w-0 flex-1 text-gray-500">Organization</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-category-4" name="category[]" value="accessories" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-category-4" class="ml-3 min-w-0 flex-1 text-gray-500">Accessories</label>
            </div>
        </div>
    </div>
</div>

<div class="border-t border-gray-200 px-4 py-6">
    <h3 class="-mx-2 -my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-2" aria-expanded="false">
            <span class="font-medium text-gray-900">Size</span>
            <span class="ml-6 flex items-center">
                <!--
                Expand icon, show/hide based on section open state.

                Heroicon name: mini/plus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                </svg>
                <!--
                Collapse icon, show/hide based on section open state.

                Heroicon name: mini/minus
                -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd"/>
                </svg>
            </span>
        </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div class="pt-6" id="filter-section-mobile-2">
        <div class="space-y-6">
            <div class="flex items-center">
                <input id="filter-mobile-size-0" name="size[]" value="2l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-0" class="ml-3 min-w-0 flex-1 text-gray-500">2L</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-size-1" name="size[]" value="6l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-1" class="ml-3 min-w-0 flex-1 text-gray-500">6L</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-size-2" name="size[]" value="12l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-2" class="ml-3 min-w-0 flex-1 text-gray-500">12L</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-size-3" name="size[]" value="18l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-3" class="ml-3 min-w-0 flex-1 text-gray-500">18L</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-size-4" name="size[]" value="20l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-4" class="ml-3 min-w-0 flex-1 text-gray-500">20L</label>
            </div>

            <div class="flex items-center">
                <input id="filter-mobile-size-5" name="size[]" value="40l" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                <label for="filter-mobile-size-5" class="ml-3 min-w-0 flex-1 text-gray-500">40L</label>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>


<!--

MAIN CONTENT

-->
<main class="mx-auto w-full">
<div class="flex flex-col w-10/12 m-auto md:flex-row items-center md:items-baseline justify-center md:justify-between border-b border-gray-200 pt-12 pb-6">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 my-4 md:my-0">Registra tus gastos</h1>
    @Html.Partial("PartialViews/_BalanceForm", Balance)
    <div class="flex items-center mt-10 md:mt-0">

    </div>
</div>

<section aria-labelledby="products-heading" class="pt-6 pb-12">

<div class="w-full relative">

<button onclick="optionsModal('modalOptions')" title="Options" class="absolute top-3 left-6 text-xl text-cyan-500">
    <i class="fa-solid fa-angles-right"></i>
</button>
<button onclick="optionsModal('modalStats')" title="Stats" class="absolute top-3 right-6 text-xl text-cyan-500">
    <i class="fa-solid fa-angles-left"></i>
</button>

<!-- 

MODAL OPTIONS

-->

<div id="modalOptions" class="absolute animate__animated animate__fast bg-white w-2/4 shadow-2xl  grid grid-cols-4  min-h-full py-16 z-30 left-[-50%] border-4 border-r-2 border-l-0 border-cyan-400">
    <button onclick="optionsModal('modalOptions')" class="absolute top-3 right-3 text-xl text-cyan-500">
        <i class="fa-solid fa-angles-left"></i>
    </button>
    <div class="col-span-2 flex flex-col items-center">
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">
                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Categorias</span>
                </button>
            </h3>

            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <select name="" id="" class="h-10 w-3/4 border-b-2 border-cyan-500 focus:border-b-2">
                        @{
                            if (Categories.Count > 0)
                            {
                                foreach (Categories category in Categories)
                                {
                                    <option value="@category.idCategory">@category.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Sin Categorias</option>
                            }
                        }
                    </select>

                    <div class="flex flex-row w-3/4 justify-center relative">
                        <form action="~/Dashboard/AddCategory/" method="post" class="w-full">
                            <input type="text" asp-for="" name="Name" id="Name" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Añadir Categoria">
                            <button type="submit" class="appearance-none ml-6 flex items-center absolute right-1 top-2/4 -translate-y-2/4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">

                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Medios de Pago</span>
                </button>
            </h3>
            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <select name="" id="" class="h-10 w-3/4 border-b-2 border-cyan-500 focus:border-b-2">
                        @{
                            if (PaymentMethods.Count > 0)
                            {
                                foreach (PaymentMethods paymentMethod in PaymentMethods)
                                {
                                    <option value="@paymentMethod.idPaymentMethod">@paymentMethod.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Sin Medios de Pago</option>
                            }
                        }
                    </select>
                    <div class="flex flex-row w-3/4 justify-center relative">
                        <form action="~/Dashboard/AddPaymentMethod/" method="post" class="w-full">
                            <input type="text" asp-for="" name="Name" id="Name" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Añadir Medio">
                            <button type="submit" class="appearance-none ml-6 flex items-center absolute right-1 top-2/4 -translate-y-2/4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                                </svg>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-span-2 flex flex-col items-center">
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">
                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Agregar Gasto Recurrente</span>
                </button>
            </h3>

            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <div class="flex flex-col w-3/4 gap-y-2 justify-center relative">
                        <label class="text-xs" for="NameRecurrent">Nombre *</label>
                        <input type="text" asp-for="" name="Name" id="NameRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Nombre">
                        <label class="text-xs" for="CostRecurrent">Valor *</label>
                        <input type="text" asp-for="" name="Name" id="CostRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Valor">
                        <label class="text-xs" for="categoryRecurrent">Categoria *</label>
                        <select name="" id="categoryRecurrent" class="h-10 w-full rounded-md border-2 border-cyan-500">
                            @{
                                if (Categories.Count > 0)
                                {
                                    foreach (Categories category in Categories)
                                    {
                                        <option value="@category.idCategory">@category.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Sin Categorias</option>
                                }
                            }
                        </select>
                        <label class="text-xs" for="paymentMethodRecurrent">Metodo de Pago *</label>
                        <select name="" id="paymentMethodRecurrent" class="h-10 w-full rounded-md border-2 border-cyan-500">
                            @{
                                if (PaymentMethods.Count > 0)
                                {
                                    foreach (PaymentMethods paymentMethod in PaymentMethods)
                                    {
                                        <option value="@paymentMethod.idPaymentMethod">@paymentMethod.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Sin Medios de Pago</option>
                                }
                            }
                        </select>
                        <label class="text-xs" for="fromRecurrent">Fecha Inicio *</label>
                        <input type="date" asp-for="" name="Name" id="fromRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Nombre">
                        <label class="text-xs" for="toRecurrent">Fecha Fin</label>
                        <input type="date" asp-for="" name="Name" id="toRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Valor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--

BILLS TABLE

-->

<div class="w-10/12 m-auto min-h-full">

    <div class="min-h-96 rounded-lg border-4 border-solid border-cyan-400 lg:h-full md:p-10 pt-3 flex flex-col items-center">

        <div class="relative w-3/4 h-16 border-b-2 border-cyan-500 text-3xl font-extrabold text-cyan-500 flex items-center justify-between mb-8">
            <button onclick="changeMonth('previousMonth')">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <input type="hidden" id="idCurrentMonthHidden" value="@CurrentMonth.Item1">
            <h2>@CurrentMonth.Item2<span class="text-gray-500 font-normal"> / </span>2023</h2>
            <button onclick="changeMonth('nextMonth')">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>

        @{
            Tuple<List<Bills>, List<Icons>, List<Categories>, List<PaymentMethods>> tuple = new Tuple<List<Bills>, List<Icons>, List<Categories>, List<PaymentMethods>>(Bills, Icons, Categories, PaymentMethods);

            @Html.Partial("PartialViews/_DashboardContent", tuple)

        }
        <div class=" w-3/4 h-[100px] flex items-center space-x-2 justify-center">
            <button id="btnAddBill" class="bg-cyan-500 p-3 min-w-[100px] rounded-md text-white text-xs">Agregar gasto</button>
        </div>
    </div>

</div>


<!--

MODAL STATS

-->
<div id="modalStats" class="absolute animate__animated animate__fast bg-white w-2/4 shadow-2xl  grid grid-cols-4  min-h-full py-16 z-30 top-0 right-[-50%] border-4 border-r-2 border-r-0 border-cyan-400">
    <button onclick="optionsModal('modalStats')" class="absolute top-3 left-3 text-xl text-cyan-500">
        <i class="fa-solid fa-angles-right"></i>
    </button>
    <div class="col-span-2 flex flex-col items-center">
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">
                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Categorias</span>
                </button>
            </h3>

            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <select name="" id="" class="h-10 w-3/4 border-b-2 border-cyan-500 focus:border-b-2">
                        @{
                            if (Categories.Count > 0)
                            {
                                foreach (Categories category in Categories)
                                {
                                    <option value="@category.idCategory">@category.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Sin Categorias</option>
                            }
                        }
                    </select>

                    <div class="flex flex-row w-3/4 justify-center relative">
                        <form action="~/Dashboard/AddCategory/" method="post" class="w-full">
                            <input type="text" asp-for="" name="Name" id="Name" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Añadir Categoria">
                            <button type="submit" class="appearance-none ml-6 flex items-center absolute right-1 top-2/4 -translate-y-2/4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">

                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Medios de Pago</span>
                </button>
            </h3>
            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <select name="" id="" class="h-10 w-3/4 border-b-2 border-cyan-500 focus:border-b-2">
                        @{
                            if (PaymentMethods.Count > 0)
                            {
                                foreach (PaymentMethods paymentMethod in PaymentMethods)
                                {
                                    <option value="@paymentMethod.idPaymentMethod">@paymentMethod.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Sin Medios de Pago</option>
                            }
                        }
                    </select>
                    <div class="flex flex-row w-3/4 justify-center relative">
                        <form action="~/Dashboard/AddPaymentMethod/" method="post" class="w-full">
                            <input type="text" asp-for="" name="Name" id="Name" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Añadir Medio">
                            <button type="submit" class="appearance-none ml-6 flex items-center absolute right-1 top-2/4 -translate-y-2/4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                                </svg>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-span-2 flex flex-col items-center">
        <div class="border-b w-[300px] border-gray-200 py-6">
            <h3 class="-my-3 flow-root">
                <button type="button" class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
                    <span class="font-medium text-gray-900">Agregar Gasto Recurrente</span>
                </button>
            </h3>

            <div class="pt-6" id="filter-section-1">
                <div class="space-y-4 flex flex-col items-center">
                    <div class="flex flex-col w-3/4 gap-y-2 justify-center relative">
                        <label class="text-xs" for="NameRecurrent">Nombre *</label>
                        <input type="text" asp-for="" name="Name" id="NameRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Nombre">
                        <label class="text-xs" for="CostRecurrent">Valor *</label>
                        <input type="text" asp-for="" name="Name" id="CostRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Valor">
                        <label class="text-xs" for="categoryRecurrent">Categoria *</label>
                        <select name="" id="categoryRecurrent" class="h-10 w-full rounded-md border-2 border-cyan-500">
                            @{
                                if (Categories.Count > 0)
                                {
                                    foreach (Categories category in Categories)
                                    {
                                        <option value="@category.idCategory">@category.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Sin Categorias</option>
                                }
                            }
                        </select>
                        <label class="text-xs" for="paymentMethodRecurrent">Metodo de Pago *</label>
                        <select name="" id="paymentMethodRecurrent" class="h-10 w-full rounded-md border-2 border-cyan-500">
                            @{
                                if (PaymentMethods.Count > 0)
                                {
                                    foreach (PaymentMethods paymentMethod in PaymentMethods)
                                    {
                                        <option value="@paymentMethod.idPaymentMethod">@paymentMethod.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Sin Medios de Pago</option>
                                }
                            }
                        </select>
                        <label class="text-xs" for="fromRecurrent">Fecha Inicio *</label>
                        <input type="date" asp-for="" name="Name" id="fromRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Nombre">
                        <label class="text-xs" for="toRecurrent">Fecha Fin</label>
                        <input type="date" asp-for="" name="Name" id="toRecurrent" class="h-10 w-full pl-1 border-2 border-cyan-500 rounded-md placeholder:text-sm" placeholder="Valor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</main>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>

    const optionsModal = (idModal) => {
        
        const modal = document.getElementById(idModal);
        
        if (idModal == 'modalStats'){
            if (modal.classList.contains("right-[-50%]"))
            {
                modal.classList.remove("animate__slideInLeft");
                modal.classList.add("right-0");
                modal.classList.add("animate__slideInRight");
                modal.classList.remove("right-[-50%]");
            }
            else
            {
                modal.classList.add("animate__slideInLeft");
                modal.classList.remove("animate__slideInRight");
                modal.classList.add("right-[-50%]");
                modal.classList.remove("right-0");
                
            }
        }
        if (idModal == 'modalOptions'){
            if (modal.classList.contains("left-[-50%]"))
            {
                modal.classList.remove("animate__slideInRight");
                modal.classList.add("animate__slideInLeft");
                modal.classList.remove("left-[-50%]");
            }
            else
            {
                modal.classList.add("animate__slideInRight");
                modal.classList.remove("animate__slideInLeft");
                modal.classList.add("left-[-50%]");
                
            }
        }
        
        
    }

    const changeMonth = (action) => {
        
        let idMonth = parseInt(document.getElementById("idCurrentMonthHidden").value);
        
        switch (action) {
            
            case 'nextMonth':
                
                if (idMonth < 12)
                    idMonth++;
                else
                    idMonth = 1;
                
                break;
                
            case 'previousMonth':
                if (idMonth > 1)
                    idMonth--;
                else
                    idMonth = 12;
                break;
            
        }
        
        $.ajax({
            url: "/Dashboard/SelectMonth",
            type: "POST",
            data: { idMonth: idMonth },
            success: function (result) {
                location.reload();
            }
        });
    }

    function SubmitForm(idForm) {
        document.getElementById(idForm).submit();
    }
    const SaveBills = () => {
            
        // obtener los formularios
        var form1 = document.getElementById("BalanceForm");
        var form2 = document.getElementById("SaveBillsForm");
        
        // crear un objeto FormData y agregar los datos de ambos formularios
        var formData = new FormData(form1);
        if (form2 != null){ 
            for (var pair of new FormData(form2)) {
              formData.append(pair[0], pair[1]);
            }
        }
        
        $.ajax({
            url: "/Dashboard/SubmitBothForms",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "html",
            success: function (result) {
                $("#DashboardContent").html(result.partialViewDashboardContent);
                $("#BalanceForm").html(result.partialViewBalance);
            },
            error: function () {
                console.log('Error en la solicitud AJAX');
            }
        });
        
    }
    $(document).ready(function () {
        $("#btnAddBill").click(function () {
            $.ajax({
                url: "/Dashboard/AddBill",
                type: "POST",
                success: function (result) {
                    $("#DashboardContent").html(result);
                }
            });
        });
        
    });
        

    const formatPrice = (idPrice, hiddenPrice) => {
        let inputPrice = document.getElementById(idPrice);
        if (inputPrice.value == "")
            inputPrice.value = 0;
        let price = parseInt(inputPrice.value.replace(/[^0-9]/g, ''));
        let priceFormat = new Intl.NumberFormat('es-CO', { currency: 'COP' }).format(price);
        inputPrice.value = priceFormat;
        document.getElementById(hiddenPrice).value = price;
    }
    
    const formatBalance = () => {
        let inputBalanceIncome = document.getElementById("BalanceIncome");
        let inputBalanceExpenses = document.getElementById("BalanceExpenses");
        let inputBalanceRemaining = document.getElementById("BalanceRemaining");
        
        
        
        let balanceIncome = parseInt(inputBalanceIncome.value.replace(/[^0-9]/g, ''));
        if (isNaN(balanceIncome))
            balanceIncome = 0;
        let balanceExpenses = parseInt(inputBalanceExpenses.value.replace(/[^0-9]/g, ''));
        let balanceRemaining = balanceIncome - balanceExpenses;
        
        document.getElementById("BalanceIncomeHidden").value = balanceIncome;
        inputBalanceIncome.value = new Intl.NumberFormat('es-CO', {style: "currency", minimumFractionDigits: 0, maximumFractionDigits: 0, currency: 'COP' }).format(balanceIncome);
        inputBalanceExpenses.value = new Intl.NumberFormat('es-CO', {style: "currency", minimumFractionDigits: 0, maximumFractionDigits: 0, currency: 'COP' }).format(balanceExpenses);
        inputBalanceRemaining.value = new Intl.NumberFormat('es-CO', {style: "currency", minimumFractionDigits: 0, maximumFractionDigits: 0, currency: 'COP' }).format(balanceRemaining);

    }
    
    const getFormBalanceLive = () => {
        let IncomeBalance = document.getElementById("BalanceIncomeHidden")
        let ExpensesBalance = document.getElementById("BalanceExpenses")
        let RemainingBalance = document.getElementById("BalanceRemaining")
        let total = 0;
        let Income = IncomeBalance.value.replace(/[^0-9]/g, '');
        var elements = document.querySelectorAll("[id*='price']");
        elements.forEach(element => {
            total += parseInt(element.value.replace(/[^0-9]/g, ''))
        })
        
        let remaining = parseInt(Income) - total;
        
        ExpensesBalance.value = new Intl.NumberFormat('es-CO', {style: "currency", minimumFractionDigits: 0, maximumFractionDigits: 0, currency: 'COP' }).format(total);
        RemainingBalance.value = new Intl.NumberFormat('es-CO', {style: "currency", minimumFractionDigits: 0, maximumFractionDigits: 0, currency: 'COP' }).format(remaining);
        
        
    }
    
    const getBalanceForm = () => {
         $.ajax({
            url: "/Dashboard/GetBalanceForm",
            type: "POST",
            dataType: "html",
            success: function (result2) {
                $("#BalanceForm").html(result2);
            },
            error: function (error) {
                console.log('Error en la solicitud AJAX del BalanceForm');
            }
        });
    }
    
    const deleteBill = (id) => {
    $.ajax({
        url: "/Dashboard/DeleteBill",
        type: "POST",
        data: { idBill: id },
        dataType: "html",
        success: function (result) {
            $("#DashboardContent").html(result);
            getBalanceForm();
        },
        error: function () {
            console.log('Error en la solicitud AJA del DashboardContentX');
        }
    });
    
    }
</script>