@using System.Security.Claims
@{
    var user = User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Piggy</title>
    <link rel="shortcut icon"href="~/icons/finanzas.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="~/js/tailwindcss.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="relative min-h-[100vh] overflow-x-hidden">
<!-- BANNER -->
<div class="relative sticky top-0 bg-white border-b-4 border-cyan-500 z-50">
    <div class="mx-auto max-w-7xl px-6">
        <div class="flex items-center justify-between border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
            <div class="flex items-center lg:w-0 lg:flex-1">
                <a href="#">
                    <img class="h-8 w-auto sm:h-10" src="icons/finanzas.png" alt="">
                </a>
                <span class="ml-10 text-cyan-500 text-xl font-bold">Piggy</span>
            </div>
            <div class="-my-2 -mr-2 md:hidden">
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <nav class="hidden space-x-10 md:flex">
                <div class="relative flex justify-between">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
                    <button type="button" class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-expanded="false">
                        <a asp-action="Index" asp-controller="Home">@Html.ActionLink("Inicio", "Index", "Home")</a>
                    </button>
                </div>
                <div class="relative flex justify-between">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->

                    <button type="button" class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-expanded="false">
                        <a>@Html.ActionLink("Gastos", "Index", "Dashboard")</a>
                    </button>

                </div>
                <div class="relative flex justify-between">
                    <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->

                    <button type="button" class="text-gray-500 group inline-flex items-center rounded-md bg-white text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-expanded="false">
                        <a>@Html.ActionLink("Control", "Index", "Dashboard")</a>
                    </button>
                </div>

            </nav>
            <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Salir", "LogOut", "Auth", new { area = "" }, new { @class = "whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900" })
                        <a class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-cyan-500 px-4 py-2 text-base font-medium text-black shadow-sm hover:bg-gray-700 hover:text-white">@user</a>
                    }
                    else
                    {
                        if (ViewBag.Title != "Ingresar" && ViewBag.Title != "Registrarse")
                        {
                            @Html.ActionLink("Registrarse", "Register", "Auth", new { area = "" }, new { @class = "whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900" })
                            @Html.ActionLink("Ingresar", "Index", "Auth", new { area = "" }, new { @class = "ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-cyan-500 px-4 py-2 text-base font-medium text-black shadow-sm hover:bg-gray-700 hover:text-white" })
                        }
                    }

                }
            </div>

        </div>
    </div>

    <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
    -->
    <div class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden">
        <div class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5 hidden">
            <div class="px-5 pt-5 pb-6">
                <div class="flex items-center justify-between">
                    <div>
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                    </div>
                    <div class="-mr-2">
                        <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                            <span class="sr-only">Close menu</span>
                            <!-- Heroicon name: outline/x-mark -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                            <!-- Heroicon name: outline/chart-bar -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"/>
                            </svg>
                            <span class="ml-3 text-base font-medium text-gray-900">Analytics</span>
                        </a>

                        <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                            <!-- Heroicon name: outline/cursor-arrow-rays -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59"/>
                            </svg>
                            <span class="ml-3 text-base font-medium text-gray-900">Engagement</span>
                        </a>

                        <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                            <!-- Heroicon name: outline/shield-check -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"/>
                            </svg>
                            <span class="ml-3 text-base font-medium text-gray-900">Security</span>
                        </a>

                        <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                            <!-- Heroicon name: outline/squares-2x2 -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"/>
                            </svg>
                            <span class="ml-3 text-base font-medium text-gray-900">Integrations</span>
                        </a>

                        <a href="#" class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50">
                            <!-- Heroicon name: outline/arrow-path -->
                            <svg class="h-6 w-6 flex-shrink-0 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"/>
                            </svg>
                            <span class="ml-3 text-base font-medium text-gray-900">Automations</span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="space-y-6 py-6 px-5">
                <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Pricing</a>

                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Docs</a>

                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Help Center</a>

                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Guides</a>

                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Events</a>

                    <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">Security</a>
                </div>
                <div>
                    <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Sign up</a>
                    <p class="mt-6 text-center text-base font-medium text-gray-500">
                        Existing customer?
                        <a href="#" class="text-indigo-600 hover:text-indigo-500">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENIDO -->
<div class="min-h-[calc(100vh_-_290px)]">
    @RenderBody()
</div>

<!-- FOOTER -->
<footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-cyan-500 py-10 flex flex-col items-center">
        <img src="icons/finanzas.png" alt="" width="50" height="50">
        <p class="mt-5 text-center text-md leading-6 text-slate-500">Piggy 2023</p>
        <div class="mt-16 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
            <a>Felipe Sarmiento</a>
            <div class="h-4 w-px bg-cyan-500"></div>
            <p>C# Asp .Net Core</p>
        </div>
    </div>
</footer>
<!--
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2023 - My ASP.NET Application</p>
    </footer>
</div>
-->

</body>
</html>